<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    disableAnsi="false"
                    pattern="%style{%d{HH:mm:ss.SSS}}{bright_black} %highlight{%-5level}{FATAL=bright_red, ERROR=bright_red, WARN=bright_yellow, INFO=bright_green, DEBUG=bright_cyan, TRACE=bright_black} %style{[%t]}{bright_blue} %style{%logger{36}}{bright_white} - %msg%n%throwable"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
